@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$display-font-weight: 600;

@import 'bootstrap/scss/bootstrap';

body {
    font-family: 'Open Sans', sans-serif;
}

.add-blur-at-top {
    &:after {
        content: "";
        position: absolute;
        inset: 0%;
        left: 1em;
        right: 1.5em;
        top: -1px;
        bottom: 35em;
        backdrop-filter: blur(3px);
        mask: linear-gradient(0deg, transparent, black 50%);
        -webkit-mask: linear-gradient(0deg, transparent, black 50%);
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 18px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
    margin-left: 1em;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #616161;
}

.text-bg-gray {
    background-color: rgba(39, 39, 39, 0.397);
    padding: 0.5em 0.25em;
    border-end-end-radius: 0.25em;
    border-start-end-radius: 0.25em;
}

.home-p {
    text-indent: 2em;
}

.text-wrap {
    text-wrap: nowrap !important;
}